---
layout: default
---

<% last_version = collections.versions.resources.last %>

<h1 class='text-3xl text-center my-5'><%= last_version.data.short %></h1>

<changelog-app data-seed="<%= last_version.data.json.to_json %>" />
