<footer class="footer footer-center p-4 bg-base-300 text-base-content">
  <nav>
    <ul class='flex gap-2 text-base-content'>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/about' | relative_url }}">About</a></li>
    </ul>
  </nav>
</footer>
