<header>
  <div class="navbar bg-neutral text-neutral-content">
    <div class='container mx-auto'>
      <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href='{{ '/' | relative_url }}'>Rails-Changelog</a>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
          <li><a href="{{ '/7-0' | relative_url }}">Rails 7.0</a></li>
          <li><a href="{{ '/7-1' | relative_url }}">Rails 7.1</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

